<sbb-header-lean [label]="title" [subtitle]="'Version'" collapseBreakpoint="mobile">
  <sbb-header-environment>dev</sbb-header-environment>
</sbb-header-lean>
<sbb-icon-sidebar-container class="sbb-icon-sidebar-after-header">
  <sbb-icon-sidebar expanded>
    <a
      sbbIconSidebarItem
      label="Home"
      routerLink="/"
      routerLinkActive="sbb-active"
      [routerLinkActiveOptions]="{
        paths: 'exact',
        fragment: 'ignored',
        queryParams: 'ignored',
        matrixParams: 'ignored',
      }"
    >
      <sbb-icon svgIcon="house-small"></sbb-icon>
    </a>
    <a
      sbbIconSidebarItem
      label="Jira Flow Control"
      routerLink="/jira"
      routerLinkActive="sbb-active"
      [routerLinkActiveOptions]="{
        paths: 'exact',
        fragment: 'ignored',
        queryParams: 'ignored',
        matrixParams: 'ignored',
      }"
    >
      <sbb-icon svgIcon="checkpoints-small"></sbb-icon>
    </a>
    <a sbbIconSidebarItem label="GitHub" href="https://github.com/grelinfo/grelflow">
      <sbb-icon svgIcon="github-small"></sbb-icon>
    </a>
  </sbb-icon-sidebar>
  <sbb-icon-sidebar-content role="main" class="app-main-content">
    <router-outlet></router-outlet>
  </sbb-icon-sidebar-content>
</sbb-icon-sidebar-container>