
<div class="feature-list">
<h2 class="sbb-divider-thin-top sbb-divider-small-bottom">SAFe Time Tracking / Feature</h2>

<form class="sbb-form-group" [formGroup]="formGroup" (ngSubmit)="handleSubmit()">
    <sbb-form-field label="Feature (SAFe)">
      <input
        type="text"
        sbbInput
        formControlName="id"
        autocomplete="off"
        placeholder="ABC-1234"
        spellcheck="false"
      />
      @if (formGroup.get('id')!.errors?.['required']) {
        <sbb-error>Issue key is required!</sbb-error>
      }
      @if (formGroup.get('id')!.errors?.['minlength']) {
        <sbb-error>Min length is {{ formGroup.get('id')!.errors?.['minlength']?.requiredLength }}!</sbb-error>
      }
    </sbb-form-field>
    <button sbb-button>Submit</button>
    <button type="button" sbb-button (click)="refreshAll()">
      <sbb-icon svgIcon="arrows-circle-small"></sbb-icon>
    </button>
    <button type="button" sbb-button (click)="removeAll()">
      <sbb-icon svgIcon="cross-small"></sbb-icon>
    </button>
</form>

<h3 class="section-title branches">Features</h3>

<table sbb-table [dataSource]="dataSource()">
  <ng-container sbbColumnDef="id">
    <th sbb-header-cell *sbbHeaderCellDef>ID</th>
    <td sbb-cell *sbbCellDef="let feature">{{ feature.id }}</td>
  </ng-container>
  <ng-container sbbColumnDef="name">
    <th sbb-header-cell *sbbHeaderCellDef>Name</th>
    <td sbb-cell *sbbCellDef="let feature">{{ feature.name }}</td>
  </ng-container>
  <ng-container sbbColumnDef="status">
    <th sbb-header-cell *sbbHeaderCellDef>Status</th>
    <td sbb-cell *sbbCellDef="let feature"><work-item-status [type]="feature.status"></work-item-status><td>
  </ng-container>
  <ng-container sbbColumnDef="timeTrackingOriginalEstimate">
    <th sbb-header-cell *sbbHeaderCellDef>Estimate</th>
    <td sbb-cell *sbbCellDef="let feature">
      {{ feature.timeTracking.originalEstimateSeconds / 3600 / 8 }} days
    </td>
  </ng-container>
  <ng-container sbbColumnDef="timeTrackingActual">
    <th sbb-header-cell *sbbHeaderCellDef>Actual</th>
    <td sbb-cell *sbbCellDef="let feature">
      <tracking-status [type]="feature.timeTracking.status"></tracking-status>
      {{ feature.timeTracking.usagePercentage }}%
    </td>
  </ng-container>
  <ng-container sbbColumnDef="timeTrackingEstimate">
    <th sbb-header-cell *sbbHeaderCellDef>Estimated</th>
    <td sbb-cell *sbbCellDef="let feature">
      <tracking-status [type]="feature.timeTracking.estimatedStatus"></tracking-status>
      {{ feature.timeTracking.estimatedUsagePercentage }}%
    </td>
  </ng-container>
  <ng-container sbbColumnDef="completion">
    <th sbb-header-cell *sbbHeaderCellDef>Completion</th>
    <td sbb-cell *sbbCellDef="let feature">
      {{ feature.timeTracking.estimatedCompletionPercentage }}%
    </td>
  </ng-container>
  <ng-container sbbColumnDef="recordedTimestamp">
    <th sbb-header-cell *sbbHeaderCellDef>Recorded at</th>
    <td sbb-cell *sbbCellDef="let feature">{{ feature.recordedTimestamp | date: 'dd.MM.YYYY HH:mm:ss' }}</td>
  </ng-container>
  <ng-container sbbColumnDef="actions">
    <th sbb-header-cell *sbbHeaderCellDef>Actions</th>
    <td sbb-cell *sbbCellDef="let feature" class="table-actions">
      <div>
      <button type="button" sbb-secondary-button (click)="refresh(feature.id)" title="Refresh feature">
        <sbb-icon svgIcon="arrows-circle-small"></sbb-icon>
      </button>
      <button type="button" sbb-secondary-button (click)="remove(feature.id)" title="Exclude feature from this listing">
        <sbb-icon svgIcon="circle-cross-small"></sbb-icon>
      </button>
    </div>
    </td>
  </ng-container>

  <tr sbb-header-row *sbbHeaderRowDef="displayedColumns"></tr>
  <tr sbb-row *sbbRowDef="let row; columns: displayedColumns"></tr>
</table>


</div>